<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://build-once-deploy-everywhere-fn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b535b9cb-e5df-4db6-960b-c20819102cce/resourceGroups/dynamic-settings-rg/providers/Microsoft.Web/sites/build-once-deploy-everywhere-fn</ResourceId>
    <UserName>$build-once-deploy-everywhere-fn</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://build-once-deploy-everywhere-fn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>